/* font-family: "GothamRegular"; */
@font-face {
	font-family: "GothamRegular";
	src: url("../fonts/Gotham/GothaProReg.otf");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "GothamBold"; */
@font-face {
	font-family: "GothamBold";
	src: url("../fonts/Gotham/GothaProBol.otf");
	font-style: normal;
	font-weight: normal;
}