body {
  margin: 0; }

a {
  text-decoration: none;
  outline: none;
  outline-style: none; }

a:hover {
  text-decoration: none;
  outline: none;
  outline-style: none; }

a:focus {
  text-decoration: none;
  outline: none;
  outline-style: none; }

a:visited {
  text-decoration: none;
  outline: none;
  outline-style: none; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto; }

input, textarea {
  text-decoration: none;
  outline: none;
  outline-style: none;
  border: none; }

button {
  background-color: transparent;
  outline-style: none;
  border: none; }

button:hover {
  background-color: transparent;
  outline-style: none; }

button:focus {
  background-color: transparent;
  outline-style: none; }

.parallax-container {
  height: 100vh;
  width: 100%; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.text-center {
  text-align: center; }

/*==========  Owl-carousel  ==========*/
.owl-carousel .owl-nav button.owl-next {
  right: 0;
  position: absolute; }

.owl-nav i {
  font-size: 25px;
  padding: 5px; }

.owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px; }

.owl-carousel button.owl-dot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  width: 12px;
  height: 12px;
  margin: 5px;
  background-color: #222;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

/*==========  Slick-slider  ==========*/
.slick-slide {
  outline: none !important; }

.slick {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slick-dots {
  bottom: 10px; }

.slick-dots li button:before {
  font-size: 9px;
  color: #bed1d2; }

.slick-dots li.slick-active button:before {
  color: #fff;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s; }

.slick-prev {
  left: 15px; }

.slick-next {
  right: 15px; }

/*==========  General  ==========*/
section {
  padding: 100px 0;
  overflow: hidden; }

h3 {
  font-family: "GothamRegular";
  font-size: 25px;
  text-transform: uppercase;
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #59c45a;
  padding-bottom: 10px;
  margin: 0; }

p {
  font-family: "GothaProLig";
  font-size: 16px; }

.text-center {
  text-align: center; }

/*==========  Header  ==========*/
header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header .nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px; }
    header .nav-list .a-menu {
      background-color: #222;
      height: 50px;
      width: 50px;
      margin-right: 50px;
      display: none; }
    header .nav-list .main-menu {
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      margin-right: 30px; }
    header .nav-list a {
      color: #fff;
      font-family: "GothamBold";
      padding: 15px 11px;
      font-size: 21px;
      text-decoration: none;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
      position: relative; }
      header .nav-list a:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 4px;
        height: 2px;
        width: 100%;
        -webkit-border-radius: 2px;
                border-radius: 2px;
        background: #59c45a;
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      header .nav-list a:hover:before {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        -webkit-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s; }
  header h2 {
    color: #fff;
    font-family: "GothamRegular";
    font-size: 40px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
  header .b-arrow {
    display: block;
    margin: 0 auto 40px; }
    header .b-arrow i {
      font-size: 40px;
      color: #fff;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

/*==========  About  ==========*/
#about .about-fst {
  height: 300px;
  background-image: url(../img/abt1.jpg);
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover; }

#about .about-scnd {
  height: 250px;
  background-image: url(../img/abt2.jpg);
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover; }

#about .about-thr {
  height: 250px;
  background-image: url(../img/abt3.jpg);
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover; }

#about .ticket {
  margin: 50px 0 0; }
  #about .ticket:first-child {
    margin: 0; }

#about h4 {
  font-family: "GothamRegular";
  font-size: 20px; }

/*==========  Gallery  ==========*/
#gallery {
  background-color: #efeeee; }
  #gallery .overlay {
    display: inline-block;
    overflow: hidden; }
  #gallery .collapse {
    margin: 50px 0 0; }
  #gallery figure {
    margin: 0 0 1rem; }
  #gallery a {
    display: block !important;
    margin-bottom: 1.5rem;
    overflow: hidden; }
  #gallery img {
    max-width: 100%;
    height: auto;
    vertical-align: middle; }

/*==========  Offer  ==========*/
#offer {
  margin: 0;
  padding-bottom: 0; }
  #offer .map {
    position: relative;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    width: 100%;
    max-width: 800px; }
  #offer svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  #offer .part {
    opacity: .5; }
    #offer .part:hover {
      opacity: .7;
      -webkit-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s; }

/*==========  Map  ==========*/
#map {
  padding: 0; }

/*==========  Contacts  ==========*/
#contacts {
  background-color: #efeeee; }
  #contacts .enter {
    display: inline-block;
    border: 1px solid #c9c9c9;
    margin-top: 50px; }
  #contacts .info {
    padding: 40px 30px;
    border-right: 1px solid #c9c9c9;
    height: 100%; }
  #contacts .pull {
    display: inline-block; }
    #contacts .pull i {
      color: #59c45a;
      margin-right: 10px; }
  #contacts .captch-block {
    display: block; }
  #contacts .soc-links {
    padding: 15px 0;
    display: none; }
    #contacts .soc-links a {
      background-color: #59c45a;
      border: 1px solid  #40a941;
      color: #fff;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      display: inline-grid;
      height: 30px;
      width: 30px;
      text-align: center;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      margin: 0 5px; }
      #contacts .soc-links a:hover {
        background-color: #fff;
        -webkit-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s; }
        #contacts .soc-links a:hover i {
          color: #59c45a;
          -webkit-transition: all .25s;
          -o-transition: all .25s;
          transition: all .25s; }
    #contacts .soc-links i {
      color: #fff;
      font-size: 18px; }
  #contacts form {
    display: inline-block;
    width: 100%;
    padding: 35px 20px;
    text-align: center; }
    #contacts form i {
      margin-left: 30px; }
    #contacts form .action {
      display: inline-block;
      padding: 10px 20px;
      background-color: #59c45a;
      font-family: "GothamRegular";
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
      border: 1px solid  #40a941;
      color: #fff;
      margin-top: 15px; }
      #contacts form .action:hover {
        background-color: #fff;
        color: #59c45a;
        text-shadow: none;
        -webkit-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s; }
    #contacts form .form-ent, #contacts form textarea {
      display: inline-block;
      color: #959595;
      font-size: 14px;
      font-family: "GothamRegular";
      width: 100%;
      padding: 15px 10px;
      margin-bottom: 15px;
      resize: none;
      background-color: transparent;
      border: 1px solid transparent;
      border-bottom: 1px solid #c9c9c9; }
      #contacts form .form-ent::-webkit-input-placeholder, #contacts form textarea::-webkit-input-placeholder {
        font-size: 14px;
        color: #959595;
        font-family: "GothamRegular"; }
      #contacts form .form-ent:-moz-placeholder, #contacts form textarea:-moz-placeholder {
        font-size: 14px;
        color: #959595;
        font-family: "GothamRegular"; }
      #contacts form .form-ent::-moz-placeholder, #contacts form textarea::-moz-placeholder {
        font-size: 14px;
        color: #959595;
        font-family: "GothamRegular"; }
      #contacts form .form-ent:-ms-input-placeholder, #contacts form textarea:-ms-input-placeholder {
        font-size: 14px;
        color: #959595;
        font-family: "GothamRegular"; }
      #contacts form .form-ent:focus, #contacts form textarea:focus {
        border: 1px solid #c9c9c9;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        #contacts form .form-ent:focus::-webkit-input-placeholder, #contacts form textarea:focus::-webkit-input-placeholder {
          color: transparent;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
        #contacts form .form-ent:focus:-moz-placeholder, #contacts form textarea:focus:-moz-placeholder {
          color: transparent;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
        #contacts form .form-ent:focus::-moz-placeholder, #contacts form textarea:focus::-moz-placeholder {
          color: transparent;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
        #contacts form .form-ent:focus:-ms-input-placeholder, #contacts form textarea:focus:-ms-input-placeholder {
          color: transparent;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
    #contacts form textarea {
      height: 140px; }

/*==========  Magnific Popup  ==========*/
.white-popup-block {
  background: #FFF;
  padding: 50px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
  font-family: "GothamRegular"; }
  .white-popup-block h1 {
    margin: 30px 0;
    font-size: 30px; }
  .white-popup-block img {
    margin-top: 1em; }
