/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	header .nav-list .main-menu {
		display: none;
	}
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#contacts .info {
		border: none;
	}
	#contacts .soc-links {
		display: flex;
		justify-content: center;
	}
	#contacts form {
		padding: 35px 15px 0;
	}
	#contacts .info {
		padding: 35px 15px 35px;
	}
	#contacts .captch-block {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#contacts .enter, #contacts .info {
		border: none;
	}
	#contacts {
		padding-bottom: 0;
	}
	#contacts form .form-ent, #contacts form textarea {
		border: 1px solid #c9c9c9;
	}
	#contacts .captch-block {
		transform:scale(0.77);
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}